* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.list {
	width: 960px;
	margin: 0 auto;
}

.list-item {
	width: 100%;
	padding:20px 0 20px 20px;

}

.list-item:nth-child(odd) {
	background-color: #f5f5f5
}

.list-item:nth-child(1) {
	margin-top: 50px;
}

.list-item:nth-child(7) {
	margin-bottom: 50px;
}

.boxes {
	width: 960px;
	margin: 0 auto;
	font-size: 0;
}

.box {
	width: 30%;
	height: 200px;
	margin-bottom: 40px;
	margin-right: 5%;
	display:inline-block;
	background-color: yellow;
}

.box:nth-child(3n) {
	margin-right: 0;
}

.box:nth-child(1) {
	background-color: orange;
}

.box:nth-child(5) {
	background-color: orange;
}
.box:nth-child(7) {
	margin-bottom: 50px;
}

.box:nth-child(8) {
	margin-bottom: 50px;
}

.box:nth-child(9) {
	margin-bottom: 50px;
	background-color: orange;
}