* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 50px;
	background-color: #FF9A4B
}

main {
	width: 960px;
	padding: 50px 0;
	margin: 0 auto;
}

.box1,.box2,.box3 {
	width: 300px;
	float: left;
	display:inline-block;
	position: relative;
	background-color: #EEEEEE
}

.box2 {
	margin:0 30px;
}

.stepnumber {
	display: inline-block;
	position:absolute;
	background-color: #FF9A4B;
	color:white;
}

.step1-img {
	height: 150px;
	width: 280px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
	margin:10px 10px 15px 10px;
}

.step2-img {
	height: 150px;
	width: 280px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
	margin:10px 10px 15px 10px;
}

.step3-img {
	height: 150px;
	width: 280px;
	background-image: url(img/flow03.png);
	background-size: cover;
	background-position: bottom;
	margin:10px 10px 15px 10px;
}

h3 {
	padding:0 10px 5px 10px;
	font-size: 15px;

}

.meintext {
	margin:0 10px;
	font-size: 12px;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #AAAAAA
}